// * Це головний sass/scss файл проекту
// * імпортуйте сюди всі інші ваші файли sass/scss
@import "formLogin";

body{
    background-color: rgb(203, 231, 234);
    position: relative;
}
.container{
    max-width: 1470px;
    margin: auto;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px;
    
}
.logo img{
    border-radius: 50%;
    height: 120px;
    width: 120px;
}
.login-button-style{
    padding: 15px 100px;
    background-color: rgb(100, 200, 211);
    border-radius: 15px;
    border: none;
    font-size: 40px;
    font-weight: 600;
    color: #162d3d;
}

.form-filters{
    padding: 30px 40px;
    display: flex;
    justify-content: space-around;
   gap: 30px;
   
}
.filter-input{
    box-sizing: border-box;
    border: 2px solid #162d3d;
    border-radius: 6px;
    padding: 0 10px;
    height: 60px;
    font-size: 30px;
    flex-grow: 1;
    & option{
        font-size: 18px;
    }
}

.empty-list{
    font-size: 36px;
    display: flex;
   justify-content: center;
   margin-top: 30px;
}

